*****Finding the best predictors of covid death rates*****

Covid 19 has had a major impact on the world and it is important that we come to understand how we might be able to survive this disease. This project seeks to find the major risk factors that could lead to death from Covid 19. In this notebook, we look to just collect and clean the covid dataset. The country of focus is the United States.

**The first step is to import the necessary libraries.**

In [1]:
import pandas as pd

**Next is to bring the dataset in as a pandas dataframe using the method read.csv. The first 5 rows are then shown**

In [2]:
df = pd.read_csv('covid_data.csv', sep=';')

In [3]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020/02/24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020/02/25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020/02/26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020/02/27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020/02/28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

The Data has been successfully imported into the notebook. The data is from February 2020 to April 2022.

Looking to see the stats of the data

In [4]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.726410e+05,1.724630e+05,1.712940e+05,1.544800e+05,154500.000000,153353.000000,171842.000000,171664.000000,170500.000000,153694.000000,...,112127.000000,110590.000000,72641.000000,130906.000000,167562.000000,144191.000000,6.078000e+03,6078.000000,6078.000000,6078.000000
mean,2.882052e+06,1.242727e+04,1.243800e+04,6.101233e+04,166.240369,167.166598,34887.610170,181.871695,181.769950,546.383599,...,10.649534,32.786541,50.843202,3.027735,73.663241,0.725414,3.899161e+04,9.582009,15.804225,1035.395150
std,1.791153e+07,8.872410e+04,8.708769e+04,3.190189e+05,814.611919,797.676071,64162.041734,749.035427,577.338034,827.897023,...,10.587423,13.523888,31.809860,2.447097,7.463400,0.149847,1.088362e+05,16.258235,29.521194,1482.622037
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1826.595723
25%,2.329000e+03,1.000000e+00,6.857000e+00,8.600000e+01,0.000000,0.143000,684.185250,0.022750,1.592000,20.384000,...,1.900000,21.600000,20.859000,1.300000,69.500000,0.602000,-4.415000e+01,-0.450000,-0.560000,-18.981390
50%,3.052600e+04,7.800000e+01,1.064290e+02,8.370000e+02,2.000000,2.286000,5391.156000,11.164000,19.233000,146.061500,...,6.300000,31.400000,49.839000,2.400000,75.090000,0.743000,3.585550e+03,6.300000,7.380000,512.797169
75%,3.364600e+05,1.073000e+03,1.172571e+03,7.891250e+03,19.000000,20.857000,43577.160000,103.632750,126.342000,784.131750,...,19.300000,41.300000,82.502000,4.000000,79.190000,0.845000,2.639225e+04,14.640000,22.465000,1699.146464
max,5.036050e+08,4.089026e+06,3.436980e+06,6.195647e+06,18144.000000,14783.286000,706541.904000,51427.491000,16052.608000,6371.964000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.163660e+06,111.010000,375.000000,9573.960130

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179218 entries, 0 to 179217
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    179218 non-null  object
 1   continent                                   168729 non-null  object
 2   location                                    179218 non-null  object
 3   date                                        179218 non-null  object
 4   total_cases                                 172641 non-null  float64
 5   new_cases                                   172463 non-null  float64
 6   new_cases_smoothed                          171294 non-null  float64
 7   total_deaths                                154480 non-null  float64
 8   new_deaths                                  154500 non-null  float64
 9   new_deaths_smoothed                         153353 non-null  float64
 10  total_cases_per_million                     171842 non-null  float64
 11  new_cases_per_million                       171664 non-null  float64
 12  new_cases_smoothed_per_million              170500 non-null  float64
 13  total_deaths_per_million                    153694 non-null  float64
 14  new_deaths_per_million                      153714 non-null  float64
 15  new_deaths_smoothed_per_million             152572 non-null  float64
 16  reproduction_rate                           132862 non-null  float64
 17  icu_patients                                24636 non-null   float64
 18  icu_patients_per_million                    24636 non-null   float64
 19  hosp_patients                               25366 non-null   float64
 20  hosp_patients_per_million                   25366 non-null   float64
 21  weekly_icu_admissions                       5835 non-null    float64
 22  weekly_icu_admissions_per_million           5835 non-null    float64
 23  weekly_hosp_admissions                      11624 non-null   float64
 24  weekly_hosp_admissions_per_million          11624 non-null   float64
 25  total_tests                                 74609 non-null   float64
 26  new_tests                                   72032 non-null   float64
 27  total_tests_per_thousand                    74609 non-null   float64
 28  new_tests_per_thousand                      72032 non-null   float64
 29  new_tests_smoothed                          93250 non-null   float64
 30  new_tests_smoothed_per_thousand             93250 non-null   float64
 31  positive_rate                               86542 non-null   float64
 32  tests_per_case                              85624 non-null   float64
 33  tests_units                                 95917 non-null   object
 34  total_vaccinations                          48820 non-null   float64
 35  people_vaccinated                           46423 non-null   float64
 36  people_fully_vaccinated                     43814 non-null   float64
 37  total_boosters                              21289 non-null   float64
 38  new_vaccinations                            40304 non-null   float64
 39  new_vaccinations_smoothed                   93363 non-null   float64
 40  total_vaccinations_per_hundred              48820 non-null   float64
 41  people_vaccinated_per_hundred               46423 non-null   float64
 42  people_fully_vaccinated_per_hundred         43814 non-null   float64
 43  total_boosters_per_hundred                  21289 non-null   float64
 44  new_vaccinations_smoothed_per_million       93363 non-null   float64
 45  new_people_vaccinated_smoothed              92467 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  92467 non-null   float64
 47  stringency_index                            139877 non-null  float64
 48  population                                  178102 non-null  float64
 49  population_density                          159662 non-null  float64
 50  median_age                                  147917 non-null  float64
 51  aged_65_older                               146341 non-null  float64
 52  aged_70_older                               147137 non-null  float64
 53  gdp_per_capita                              147586 non-null  float64
 54  extreme_poverty                             96510 non-null   float64
 55  cardiovasc_death_rate                       147607 non-null  float64
 56  diabetes_prevalence                         154826 non-null  float64
 57  female_smokers                              112127 non-null  float64
 58  male_smokers                                110590 non-null  float64
 59  handwashing_facilities                      72641 non-null   float64
 60  hospital_beds_per_thousand                  130906 non-null  float64
 61  life_expectancy                             167562 non-null  float64
 62  human_development_index                     144191 non-null  float64
 63  excess_mortality_cumulative_absolute        6078 non-null    float64
 64  excess_mortality_cumulative                 6078 non-null    float64
 65  excess_mortality                            6078 non-null    float64
 66  excess_mortality_cumulative_per_million     6078 non-null    float64
dtypes: float64(62), object(5)
memory usage: 91.6+ MB

As can be seen above, this is a pretty large dataset. But it can also be noted that the data includes entries from other countries outside United States. This is out of the scope of this study. We are only looking for data from the United States.

Next, we subset the data to only show United States data as USdf

In [6]:
df.location.unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus',
       'Northern Mariana Islands', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna', 'World',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [7]:
USdf = df[df.location == 'United States']

In [8]:
USdf.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
168832,USA,North America,United States,2020/01/22,1.0,NaN,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
168833,USA,North America,United States,2020/01/23,1.0,0.0,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
168834,USA,North America,United States,2020/01/24,2.0,1.0,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
168835,USA,North America,United States,2020/01/25,2.0,0.0,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
168836,USA,North America,United States,2020/01/26,5.0,3.0,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,-8926.0,-3.59,-2.63,-26.811643

In [9]:
USdf.location.unique()

array(['United States'], dtype=object)

In [10]:
USdf.shape

(815, 67)

The dataset is substantially reduced in size as it now has 815 records. This is still acceptable as this should be enough samples to give a statistically significant output. Let us now take a look at the statistics again.

In [11]:
USdf.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,8.150000e+02,8.140000e+02,809.000000,777.000000,777.000000,772.000000,815.000000,814.000000,809.000000,777.000000,...,8.150000e+02,8.150000e+02,0.0,8.150000e+02,8.150000e+02,8.150000e+02,1.090000e+02,109.000000,109.000000,109.000000
mean,2.807672e+07,9.903278e+04,99494.343276,472375.917632,1272.275418,1278.163376,84335.980707,297.471591,298.858031,1418.908163,...,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,4.837607e+05,12.358716,17.366239,1453.105345
std,2.426983e+07,1.445723e+05,132616.566951,294744.508023,972.272395,775.323753,72900.971153,434.261711,398.349531,885.344441,...,2.488427e-13,5.332343e-14,NaN,1.555267e-14,4.834658e-13,8.220695e-15,3.241388e+05,5.641921,11.962027,973.638244
min,1.000000e+00,0.000000e+00,0.000000,1.000000,0.000000,1.714000,0.003000,0.000000,0.000000,0.003000,...,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,-1.367900e+04,-3.590000,-2.650000,-41.088557
25%,5.234692e+06,2.787325e+04,29550.714000,190786.000000,517.000000,716.393250,15723.804500,83.724750,88.764000,573.077000,...,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,1.938106e+05,11.060000,7.000000,582.162284
50%,2.899251e+07,5.444600e+04,60790.286000,540235.000000,1001.000000,1057.000000,87086.805000,163.543500,182.600000,1622.741000,...,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,5.733646e+05,14.610000,16.570000,1722.254847
75%,4.282407e+07,1.170115e+05,120789.286000,699634.000000,1800.000000,1777.107250,128633.627000,351.475500,362.823000,2101.539000,...,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,6.929886e+05,16.170000,25.030000,2081.577718
max,8.061268e+07,1.383795e+06,807718.286000,988558.000000,4431.000000,3389.714000,242141.877000,4156.601000,2426.199000,2969.400000,...,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,1.065799e+06,17.480000,45.930000,3201.414364

In [12]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815 entries, 168832 to 169646
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    815 non-null    object
 1   continent                                   815 non-null    object
 2   location                                    815 non-null    object
 3   date                                        815 non-null    object
 4   total_cases                                 815 non-null    float64
 5   new_cases                                   814 non-null    float64
 6   new_cases_smoothed                          809 non-null    float64
 7   total_deaths                                777 non-null    float64
 8   new_deaths                                  777 non-null    float64
 9   new_deaths_smoothed                         772 non-null    float64
 10  total_cases_per_million                     815 non-null    float64
 11  new_cases_per_million                       814 non-null    float64
 12  new_cases_smoothed_per_million              809 non-null    float64
 13  total_deaths_per_million                    777 non-null    float64
 14  new_deaths_per_million                      777 non-null    float64
 15  new_deaths_smoothed_per_million             772 non-null    float64
 16  reproduction_rate                           765 non-null    float64
 17  icu_patients                                639 non-null    float64
 18  icu_patients_per_million                    639 non-null    float64
 19  hosp_patients                               639 non-null    float64
 20  hosp_patients_per_million                   639 non-null    float64
 21  weekly_icu_admissions                       0 non-null      float64
 22  weekly_icu_admissions_per_million           0 non-null      float64
 23  weekly_hosp_admissions                      633 non-null    float64
 24  weekly_hosp_admissions_per_million          633 non-null    float64
 25  total_tests                                 770 non-null    float64
 26  new_tests                                   770 non-null    float64
 27  total_tests_per_thousand                    770 non-null    float64
 28  new_tests_per_thousand                      770 non-null    float64
 29  new_tests_smoothed                          763 non-null    float64
 30  new_tests_smoothed_per_thousand             763 non-null    float64
 31  positive_rate                               764 non-null    float64
 32  tests_per_case                              764 non-null    float64
 33  tests_units                                 770 non-null    object
 34  total_vaccinations                          487 non-null    float64
 35  people_vaccinated                           487 non-null    float64
 36  people_fully_vaccinated                     487 non-null    float64
 37  total_boosters                              244 non-null    float64
 38  new_vaccinations                            486 non-null    float64
 39  new_vaccinations_smoothed                   486 non-null    float64
 40  total_vaccinations_per_hundred              487 non-null    float64
 41  people_vaccinated_per_hundred               487 non-null    float64
 42  people_fully_vaccinated_per_hundred         487 non-null    float64
 43  total_boosters_per_hundred                  244 non-null    float64
 44  new_vaccinations_smoothed_per_million       486 non-null    float64
 45  new_people_vaccinated_smoothed              486 non-null    float64
 46  new_people_vaccinated_smoothed_per_hundred  486 non-null    float64
 47  stringency_index                            807 non-null    float64
 48  population                                  815 non-null    float64
 49  population_density                          815 non-null    float64
 50  median_age                                  815 non-null    float64
 51  aged_65_older                               815 non-null    float64
 52  aged_70_older                               815 non-null    float64
 53  gdp_per_capita                              815 non-null    float64
 54  extreme_poverty                             815 non-null    float64
 55  cardiovasc_death_rate                       815 non-null    float64
 56  diabetes_prevalence                         815 non-null    float64
 57  female_smokers                              815 non-null    float64
 58  male_smokers                                815 non-null    float64
 59  handwashing_facilities                      0 non-null      float64
 60  hospital_beds_per_thousand                  815 non-null    float64
 61  life_expectancy                             815 non-null    float64
 62  human_development_index                     815 non-null    float64
 63  excess_mortality_cumulative_absolute        109 non-null    float64
 64  excess_mortality_cumulative                 109 non-null    float64
 65  excess_mortality                            109 non-null    float64
 66  excess_mortality_cumulative_per_million     109 non-null    float64
dtypes: float64(62), object(5)
memory usage: 433.0+ KB

The mean of quite a number of variables have changed. This should work in our favor as it is the whole reason why we chose to scope the project to only covid data from the United States. Limiting the scope like this should make the project much less complex.

We also note that there are some columns which do not have any values at all. It is best to get rid of these columns. These would be weekly admissions, weekly admissions per million, and handwashing facilities. Along with these, it would also be best to drop any variables that communicate that the location is in the United states since we have already made sure that the data is only based on the United States.

In [13]:
USdf['iso_code'].nunique()

1

In [14]:
USdf = USdf.drop(['iso_code','continent', 'location'], axis=1)

In [15]:
USdf = USdf.drop(['weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'handwashing_facilities'], axis=1)

In [16]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815 entries, 168832 to 169646
Data columns (total 61 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        815 non-null    object
 1   total_cases                                 815 non-null    float64
 2   new_cases                                   814 non-null    float64
 3   new_cases_smoothed                          809 non-null    float64
 4   total_deaths                                777 non-null    float64
 5   new_deaths                                  777 non-null    float64
 6   new_deaths_smoothed                         772 non-null    float64
 7   total_cases_per_million                     815 non-null    float64
 8   new_cases_per_million                       814 non-null    float64
 9   new_cases_smoothed_per_million              809 non-null    float64
 10  total_deaths_per_million                    777 non-null    float64
 11  new_deaths_per_million                      777 non-null    float64
 12  new_deaths_smoothed_per_million             772 non-null    float64
 13  reproduction_rate                           765 non-null    float64
 14  icu_patients                                639 non-null    float64
 15  icu_patients_per_million                    639 non-null    float64
 16  hosp_patients                               639 non-null    float64
 17  hosp_patients_per_million                   639 non-null    float64
 18  weekly_hosp_admissions                      633 non-null    float64
 19  weekly_hosp_admissions_per_million          633 non-null    float64
 20  total_tests                                 770 non-null    float64
 21  new_tests                                   770 non-null    float64
 22  total_tests_per_thousand                    770 non-null    float64
 23  new_tests_per_thousand                      770 non-null    float64
 24  new_tests_smoothed                          763 non-null    float64
 25  new_tests_smoothed_per_thousand             763 non-null    float64
 26  positive_rate                               764 non-null    float64
 27  tests_per_case                              764 non-null    float64
 28  tests_units                                 770 non-null    object
 29  total_vaccinations                          487 non-null    float64
 30  people_vaccinated                           487 non-null    float64
 31  people_fully_vaccinated                     487 non-null    float64
 32  total_boosters                              244 non-null    float64
 33  new_vaccinations                            486 non-null    float64
 34  new_vaccinations_smoothed                   486 non-null    float64
 35  total_vaccinations_per_hundred              487 non-null    float64
 36  people_vaccinated_per_hundred               487 non-null    float64
 37  people_fully_vaccinated_per_hundred         487 non-null    float64
 38  total_boosters_per_hundred                  244 non-null    float64
 39  new_vaccinations_smoothed_per_million       486 non-null    float64
 40  new_people_vaccinated_smoothed              486 non-null    float64
 41  new_people_vaccinated_smoothed_per_hundred  486 non-null    float64
 42  stringency_index                            807 non-null    float64
 43  population                                  815 non-null    float64
 44  population_density                          815 non-null    float64
 45  median_age                                  815 non-null    float64
 46  aged_65_older                               815 non-null    float64
 47  aged_70_older                               815 non-null    float64
 48  gdp_per_capita                              815 non-null    float64
 49  extreme_poverty                             815 non-null    float64
 50  cardiovasc_death_rate                       815 non-null    float64
 51  diabetes_prevalence                         815 non-null    float64
 52  female_smokers                              815 non-null    float64
 53  male_smokers                                815 non-null    float64
 54  hospital_beds_per_thousand                  815 non-null    float64
 55  life_expectancy                             815 non-null    float64
 56  human_development_index                     815 non-null    float64
 57  excess_mortality_cumulative_absolute        109 non-null    float64
 58  excess_mortality_cumulative                 109 non-null    float64
 59  excess_mortality                            109 non-null    float64
 60  excess_mortality_cumulative_per_million     109 non-null    float64
dtypes: float64(59), object(2)
memory usage: 394.8+ KB

In [17]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815 entries, 168832 to 169646
Data columns (total 61 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        815 non-null    object
 1   total_cases                                 815 non-null    float64
 2   new_cases                                   814 non-null    float64
 3   new_cases_smoothed                          809 non-null    float64
 4   total_deaths                                777 non-null    float64
 5   new_deaths                                  777 non-null    float64
 6   new_deaths_smoothed                         772 non-null    float64
 7   total_cases_per_million                     815 non-null    float64
 8   new_cases_per_million                       814 non-null    float64
 9   new_cases_smoothed_per_million              809 non-null    float64
 10  total_deaths_per_million                    777 non-null    float64
 11  new_deaths_per_million                      777 non-null    float64
 12  new_deaths_smoothed_per_million             772 non-null    float64
 13  reproduction_rate                           765 non-null    float64
 14  icu_patients                                639 non-null    float64
 15  icu_patients_per_million                    639 non-null    float64
 16  hosp_patients                               639 non-null    float64
 17  hosp_patients_per_million                   639 non-null    float64
 18  weekly_hosp_admissions                      633 non-null    float64
 19  weekly_hosp_admissions_per_million          633 non-null    float64
 20  total_tests                                 770 non-null    float64
 21  new_tests                                   770 non-null    float64
 22  total_tests_per_thousand                    770 non-null    float64
 23  new_tests_per_thousand                      770 non-null    float64
 24  new_tests_smoothed                          763 non-null    float64
 25  new_tests_smoothed_per_thousand             763 non-null    float64
 26  positive_rate                               764 non-null    float64
 27  tests_per_case                              764 non-null    float64
 28  tests_units                                 770 non-null    object
 29  total_vaccinations                          487 non-null    float64
 30  people_vaccinated                           487 non-null    float64
 31  people_fully_vaccinated                     487 non-null    float64
 32  total_boosters                              244 non-null    float64
 33  new_vaccinations                            486 non-null    float64
 34  new_vaccinations_smoothed                   486 non-null    float64
 35  total_vaccinations_per_hundred              487 non-null    float64
 36  people_vaccinated_per_hundred               487 non-null    float64
 37  people_fully_vaccinated_per_hundred         487 non-null    float64
 38  total_boosters_per_hundred                  244 non-null    float64
 39  new_vaccinations_smoothed_per_million       486 non-null    float64
 40  new_people_vaccinated_smoothed              486 non-null    float64
 41  new_people_vaccinated_smoothed_per_hundred  486 non-null    float64
 42  stringency_index                            807 non-null    float64
 43  population                                  815 non-null    float64
 44  population_density                          815 non-null    float64
 45  median_age                                  815 non-null    float64
 46  aged_65_older                               815 non-null    float64
 47  aged_70_older                               815 non-null    float64
 48  gdp_per_capita                              815 non-null    float64
 49  extreme_poverty                             815 non-null    float64
 50  cardiovasc_death_rate                       815 non-null    float64
 51  diabetes_prevalence                         815 non-null    float64
 52  female_smokers                              815 non-null    float64
 53  male_smokers                                815 non-null    float64
 54  hospital_beds_per_thousand                  815 non-null    float64
 55  life_expectancy                             815 non-null    float64
 56  human_development_index                     815 non-null    float64
 57  excess_mortality_cumulative_absolute        109 non-null    float64
 58  excess_mortality_cumulative                 109 non-null    float64
 59  excess_mortality                            109 non-null    float64
 60  excess_mortality_cumulative_per_million     109 non-null    float64
dtypes: float64(59), object(2)
memory usage: 394.8+ KB

Okay, at this stage, the dataset looks pretty good though there is still quite a bit of work to be done. There are 60 features in the dataset and most of them have some null values. The total number of records as seen above is 815. Before we address those missing values, which will be a tedious process, let us look at the features themselves and see how relevant they are to the study.

Remember that we are looking to find the risk factors for Covid Deaths. In other words, we are trying to find the features that are the best predictors for Covid Deaths. This means that number of Covid deaths in a day shall be the target variable. This should be the variable total deaths as can be seen below:

In [22]:
USdf.reset_index(inplace=True)

In [25]:
USdf.drop('index', axis=1, inplace=True)

In [27]:
USdf.drop('level_0', axis=1, inplace=True)

In [28]:
USdf.head()

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,2020/01/22,1.0,NaN,NaN,NaN,NaN,NaN,0.003,NaN,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
1,2020/01/23,1.0,0.0,NaN,NaN,NaN,NaN,0.003,0.000,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
2,2020/01/24,2.0,1.0,NaN,NaN,NaN,NaN,0.006,0.003,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
3,2020/01/25,2.0,0.0,NaN,NaN,NaN,NaN,0.006,0.000,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
4,2020/01/26,5.0,3.0,NaN,NaN,NaN,NaN,0.015,0.009,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,-8926.0,-3.59,-2.63,-26.811643

In [30]:
USdf[USdf['total_deaths'].isnull()]

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,2020/01/22,1.0,NaN,NaN,NaN,NaN,NaN,0.003,NaN,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
1,2020/01/23,1.0,0.0,NaN,NaN,NaN,NaN,0.003,0.000,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
2,2020/01/24,2.0,1.0,NaN,NaN,NaN,NaN,0.006,0.003,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
3,2020/01/25,2.0,0.0,NaN,NaN,NaN,NaN,0.006,0.000,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
4,2020/01/26,5.0,3.0,NaN,NaN,NaN,NaN,0.015,0.009,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,-8926.0,-3.59,-2.63,-26.811643
5,2020/01/27,5.0,0.0,NaN,NaN,NaN,NaN,0.015,0.000,NaN,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
6,2020/01/28,5.0,0.0,0.571,NaN,NaN,NaN,0.015,0.000,0.002,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
7,2020/01/29,6.0,1.0,0.714,NaN,NaN,NaN,0.018,0.003,0.002,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
8,2020/01/30,6.0,0.0,0.714,NaN,NaN,NaN,0.018,0.000,0.002,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
9,2020/01/31,8.0,2.0,0.857,NaN,NaN,NaN,0.024,0.006,0.003,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
10,2020/02/01,8.0,0.0,0.857,NaN,NaN,NaN,0.024,0.000,0.003,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
11,2020/02/02,8.0,0.0,0.429,NaN,NaN,NaN,0.024,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,-10525.0,-3.41,-2.65,-31.614669
12,2020/02/03,11.0,3.0,0.857,NaN,NaN,NaN,0.033,0.009,0.003,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
13,2020/02/04,11.0,0.0,0.857,NaN,NaN,NaN,0.033,0.000,0.003,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
14,2020/02/05,11.0,0.0,0.714,NaN,NaN,NaN,0.033,0.000,0.002,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
15,2020/02/06,12.0,1.0,0.857,NaN,NaN,NaN,0.036,0.003,0.003,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
16,2020/02/07,12.0,0.0,0.571,NaN,NaN,NaN,0.036,0.000,0.002,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
17,2020/02/08,12.0,0.0,0.571,NaN,NaN,NaN,0.036,0.000,0.002,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
18,2020/02/09,12.0,0.0,0.571,NaN,NaN,NaN,0.036,0.000,0.002,...,10.79,19.1,24.6,2.77,78.86,0.926,-11620.8,-3.15,-1.81,-34.906200
19,2020/02/10,12.0,0.0,0.143,NaN,NaN,NaN,0.036,0.000,0.000,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
20,2020/02/11,13.0,1.0,0.286,NaN,NaN,NaN,0.039,0.003,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
21,2020/02/12,13.0,0.0,0.286,NaN,NaN,NaN,0.039,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
22,2020/02/13,14.0,1.0,0.286,NaN,NaN,NaN,0.042,0.003,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
23,2020/02/14,14.0,0.0,0.286,NaN,NaN,NaN,0.042,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
24,2020/02/15,14.0,0.0,0.286,NaN,NaN,NaN,0.042,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
25,2020/02/16,14.0,0.0,0.286,NaN,NaN,NaN,0.042,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,-13050.4,-3.04,-2.37,-39.200388
26,2020/02/17,14.0,0.0,0.286,NaN,NaN,NaN,0.042,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
27,2020/02/18,14.0,0.0,0.143,NaN,NaN,NaN,0.042,0.000,0.000,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
28,2020/02/19,14.0,0.0,0.143,NaN,NaN,NaN,0.042,0.000,0.000,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
29,2020/02/20,14.0,0.0,0.000,NaN,NaN,NaN,0.042,0.000,0.000,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
30,2020/02/21,16.0,2.0,0.286,NaN,NaN,NaN,0.048,0.006,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
31,2020/02/22,16.0,0.0,0.286,NaN,NaN,NaN,0.048,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
32,2020/02/23,16.0,0.0,0.286,NaN,NaN,NaN,0.048,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,-13679.0,-2.80,-1.06,-41.088557
33,2020/02/24,16.0,0.0,0.286,NaN,NaN,NaN,0.048,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
34,2020/02/25,16.0,0.0,0.286,NaN,NaN,NaN,0.048,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
35,2020/02/26,16.0,0.0,0.286,NaN,NaN,NaN,0.048,0.000,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
36,2020/02/27,17.0,1.0,0.429,NaN,NaN,NaN,0.051,0.003,0.001,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
37,2020/02/28,17.0,0.0,0.143,NaN,NaN,NaN,0.051,0.000,0.000,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN

As can be seen above, there are only 38 rows missing for total deaths, very likely because there are no recorded deaths up until the 28th of February 2020. total_deaths variable does seem to be a cumulative variable. Let us check to confirm this. We may be looking for a daily count of deaths at this point.

In [31]:
USdf[USdf['total_deaths'].notnull()].head(10)

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
38,2020/02/29,25.0,8.0,1.286,1.0,1.0,NaN,0.075,0.024,0.004,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
39,2020/03/01,32.0,7.0,2.286,1.0,0.0,NaN,0.096,0.021,0.007,...,10.79,19.1,24.6,2.77,78.86,0.926,-13622.6,-2.48,0.10,-40.919144
40,2020/03/02,55.0,23.0,5.571,6.0,5.0,NaN,0.165,0.069,0.017,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
41,2020/03/03,74.0,19.0,8.286,7.0,1.0,NaN,0.222,0.057,0.025,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
42,2020/03/04,107.0,33.0,13.000,11.0,4.0,NaN,0.321,0.099,0.039,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
43,2020/03/05,184.0,77.0,23.857,12.0,1.0,1.714,0.553,0.231,0.072,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
44,2020/03/06,237.0,53.0,31.429,14.0,2.0,2.000,0.712,0.159,0.094,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
45,2020/03/07,403.0,166.0,54.000,17.0,3.0,2.286,1.211,0.499,0.162,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN
46,2020/03/08,519.0,116.0,69.571,21.0,4.0,2.857,1.559,0.348,0.209,...,10.79,19.1,24.6,2.77,78.86,0.926,-13354.2,-2.20,0.45,-40.112933
47,2020/03/09,594.0,75.0,77.000,22.0,1.0,2.286,1.784,0.225,0.231,...,10.79,19.1,24.6,2.77,78.86,0.926,NaN,NaN,NaN,NaN

As suspected, the total_deaths column is rather cumulative. Not to necessarily say it wont be useful, but at this point, our more relevant variable will be new_deaths. This will be the variable we look to predict based on a set of independent variables.

This means the other variables related to deaths will not be necessary. This includes the smoothed variables as well. These will now be removed from the dataset.

In [32]:
USdf.drop(['total_deaths', 'new_deaths_smoothed'], axis=1, inplace=True)

In [33]:
USdf.drop(['new_cases_smoothed', 'new_cases_smoothed_per_million', 'new_deaths_smoothed_per_million'], axis=1, inplace=True)

In [34]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 56 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        815 non-null    object
 1   total_cases                                 815 non-null    float64
 2   new_cases                                   814 non-null    float64
 3   new_deaths                                  777 non-null    float64
 4   total_cases_per_million                     815 non-null    float64
 5   new_cases_per_million                       814 non-null    float64
 6   total_deaths_per_million                    777 non-null    float64
 7   new_deaths_per_million                      777 non-null    float64
 8   reproduction_rate                           765 non-null    float64
 9   icu_patients                                639 non-null    float64
 10  icu_patients_per_million                    639 non-null    float64
 11  hosp_patients                               639 non-null    float64
 12  hosp_patients_per_million                   639 non-null    float64
 13  weekly_hosp_admissions                      633 non-null    float64
 14  weekly_hosp_admissions_per_million          633 non-null    float64
 15  total_tests                                 770 non-null    float64
 16  new_tests                                   770 non-null    float64
 17  total_tests_per_thousand                    770 non-null    float64
 18  new_tests_per_thousand                      770 non-null    float64
 19  new_tests_smoothed                          763 non-null    float64
 20  new_tests_smoothed_per_thousand             763 non-null    float64
 21  positive_rate                               764 non-null    float64
 22  tests_per_case                              764 non-null    float64
 23  tests_units                                 770 non-null    object
 24  total_vaccinations                          487 non-null    float64
 25  people_vaccinated                           487 non-null    float64
 26  people_fully_vaccinated                     487 non-null    float64
 27  total_boosters                              244 non-null    float64
 28  new_vaccinations                            486 non-null    float64
 29  new_vaccinations_smoothed                   486 non-null    float64
 30  total_vaccinations_per_hundred              487 non-null    float64
 31  people_vaccinated_per_hundred               487 non-null    float64
 32  people_fully_vaccinated_per_hundred         487 non-null    float64
 33  total_boosters_per_hundred                  244 non-null    float64
 34  new_vaccinations_smoothed_per_million       486 non-null    float64
 35  new_people_vaccinated_smoothed              486 non-null    float64
 36  new_people_vaccinated_smoothed_per_hundred  486 non-null    float64
 37  stringency_index                            807 non-null    float64
 38  population                                  815 non-null    float64
 39  population_density                          815 non-null    float64
 40  median_age                                  815 non-null    float64
 41  aged_65_older                               815 non-null    float64
 42  aged_70_older                               815 non-null    float64
 43  gdp_per_capita                              815 non-null    float64
 44  extreme_poverty                             815 non-null    float64
 45  cardiovasc_death_rate                       815 non-null    float64
 46  diabetes_prevalence                         815 non-null    float64
 47  female_smokers                              815 non-null    float64
 48  male_smokers                                815 non-null    float64
 49  hospital_beds_per_thousand                  815 non-null    float64
 50  life_expectancy                             815 non-null    float64
 51  human_development_index                     815 non-null    float64
 52  excess_mortality_cumulative_absolute        109 non-null    float64
 53  excess_mortality_cumulative                 109 non-null    float64
 54  excess_mortality                            109 non-null    float64
 55  excess_mortality_cumulative_per_million     109 non-null    float64
dtypes: float64(54), object(2)
memory usage: 356.7+ KB

In [36]:
USdf.drop(['new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'new_people_vaccinated_smoothed_per_hundred', 'new_people_vaccinated_smoothed', 'new_vaccinations_smoothed_per_million', 'new_vaccinations_smoothed'], axis=1, inplace=True)

In [37]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 50 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     815 non-null    object
 1   total_cases                              815 non-null    float64
 2   new_cases                                814 non-null    float64
 3   new_deaths                               777 non-null    float64
 4   total_cases_per_million                  815 non-null    float64
 5   new_cases_per_million                    814 non-null    float64
 6   total_deaths_per_million                 777 non-null    float64
 7   new_deaths_per_million                   777 non-null    float64
 8   reproduction_rate                        765 non-null    float64
 9   icu_patients                             639 non-null    float64
 10  icu_patients_per_million                 639 non-null    float64
 11  hosp_patients                            639 non-null    float64
 12  hosp_patients_per_million                639 non-null    float64
 13  weekly_hosp_admissions                   633 non-null    float64
 14  weekly_hosp_admissions_per_million       633 non-null    float64
 15  total_tests                              770 non-null    float64
 16  new_tests                                770 non-null    float64
 17  total_tests_per_thousand                 770 non-null    float64
 18  new_tests_per_thousand                   770 non-null    float64
 19  positive_rate                            764 non-null    float64
 20  tests_per_case                           764 non-null    float64
 21  tests_units                              770 non-null    object
 22  total_vaccinations                       487 non-null    float64
 23  people_vaccinated                        487 non-null    float64
 24  people_fully_vaccinated                  487 non-null    float64
 25  total_boosters                           244 non-null    float64
 26  new_vaccinations                         486 non-null    float64
 27  total_vaccinations_per_hundred           487 non-null    float64
 28  people_vaccinated_per_hundred            487 non-null    float64
 29  people_fully_vaccinated_per_hundred      487 non-null    float64
 30  total_boosters_per_hundred               244 non-null    float64
 31  stringency_index                         807 non-null    float64
 32  population                               815 non-null    float64
 33  population_density                       815 non-null    float64
 34  median_age                               815 non-null    float64
 35  aged_65_older                            815 non-null    float64
 36  aged_70_older                            815 non-null    float64
 37  gdp_per_capita                           815 non-null    float64
 38  extreme_poverty                          815 non-null    float64
 39  cardiovasc_death_rate                    815 non-null    float64
 40  diabetes_prevalence                      815 non-null    float64
 41  female_smokers                           815 non-null    float64
 42  male_smokers                             815 non-null    float64
 43  hospital_beds_per_thousand               815 non-null    float64
 44  life_expectancy                          815 non-null    float64
 45  human_development_index                  815 non-null    float64
 46  excess_mortality_cumulative_absolute     109 non-null    float64
 47  excess_mortality_cumulative              109 non-null    float64
 48  excess_mortality                         109 non-null    float64
 49  excess_mortality_cumulative_per_million  109 non-null    float64
dtypes: float64(48), object(2)
memory usage: 318.5+ KB

Since the whole dataset is only on United States, features like gdp_per_capita and smokers can be deleted as they all have the same value. The whole column remains the same and so they cannot act as predictors for the target variable of new_deaths.

In [51]:
USdf['population_density'].unique()

array([35.608])

In [52]:
USdf.drop(['gdp_per_capita', 'female_smokers', 'male_smokers', 'life_expectancy', 'hospital_beds_per_thousand', 'diabetes_prevalence', 'cardiovasc_death_rate', 'extreme_poverty', 'aged_65_older', 'aged_70_older', 'median_age', 'population', 'population_density'], axis=1, inplace=True)

In [54]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 37 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     815 non-null    object
 1   total_cases                              815 non-null    float64
 2   new_cases                                814 non-null    float64
 3   new_deaths                               777 non-null    float64
 4   total_cases_per_million                  815 non-null    float64
 5   new_cases_per_million                    814 non-null    float64
 6   total_deaths_per_million                 777 non-null    float64
 7   new_deaths_per_million                   777 non-null    float64
 8   reproduction_rate                        765 non-null    float64
 9   icu_patients                             639 non-null    float64
 10  icu_patients_per_million                 639 non-null    float64
 11  hosp_patients                            639 non-null    float64
 12  hosp_patients_per_million                639 non-null    float64
 13  weekly_hosp_admissions                   633 non-null    float64
 14  weekly_hosp_admissions_per_million       633 non-null    float64
 15  total_tests                              770 non-null    float64
 16  new_tests                                770 non-null    float64
 17  total_tests_per_thousand                 770 non-null    float64
 18  new_tests_per_thousand                   770 non-null    float64
 19  positive_rate                            764 non-null    float64
 20  tests_per_case                           764 non-null    float64
 21  tests_units                              770 non-null    object
 22  total_vaccinations                       487 non-null    float64
 23  people_vaccinated                        487 non-null    float64
 24  people_fully_vaccinated                  487 non-null    float64
 25  total_boosters                           244 non-null    float64
 26  new_vaccinations                         486 non-null    float64
 27  total_vaccinations_per_hundred           487 non-null    float64
 28  people_vaccinated_per_hundred            487 non-null    float64
 29  people_fully_vaccinated_per_hundred      487 non-null    float64
 30  total_boosters_per_hundred               244 non-null    float64
 31  stringency_index                         807 non-null    float64
 32  human_development_index                  815 non-null    float64
 33  excess_mortality_cumulative_absolute     109 non-null    float64
 34  excess_mortality_cumulative              109 non-null    float64
 35  excess_mortality                         109 non-null    float64
 36  excess_mortality_cumulative_per_million  109 non-null    float64
dtypes: float64(35), object(2)
memory usage: 235.7+ KB

In [59]:
for i in USdf.columns:
    if len(USdf[i].unique()) == 1:
        print(i)

human_development_index

In [60]:
USdf.drop(['human_development_index'], axis=1, inplace=True)

In [65]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 36 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     815 non-null    object
 1   total_cases                              815 non-null    float64
 2   new_cases                                814 non-null    float64
 3   new_deaths                               777 non-null    float64
 4   total_cases_per_million                  815 non-null    float64
 5   new_cases_per_million                    814 non-null    float64
 6   total_deaths_per_million                 777 non-null    float64
 7   new_deaths_per_million                   777 non-null    float64
 8   reproduction_rate                        765 non-null    float64
 9   icu_patients                             639 non-null    float64
 10  icu_patients_per_million                 639 non-null    float64
 11  hosp_patients                            639 non-null    float64
 12  hosp_patients_per_million                639 non-null    float64
 13  weekly_hosp_admissions                   633 non-null    float64
 14  weekly_hosp_admissions_per_million       633 non-null    float64
 15  total_tests                              770 non-null    float64
 16  new_tests                                770 non-null    float64
 17  total_tests_per_thousand                 770 non-null    float64
 18  new_tests_per_thousand                   770 non-null    float64
 19  positive_rate                            764 non-null    float64
 20  tests_per_case                           764 non-null    float64
 21  tests_units                              770 non-null    object
 22  total_vaccinations                       487 non-null    float64
 23  people_vaccinated                        487 non-null    float64
 24  people_fully_vaccinated                  487 non-null    float64
 25  total_boosters                           244 non-null    float64
 26  new_vaccinations                         486 non-null    float64
 27  total_vaccinations_per_hundred           487 non-null    float64
 28  people_vaccinated_per_hundred            487 non-null    float64
 29  people_fully_vaccinated_per_hundred      487 non-null    float64
 30  total_boosters_per_hundred               244 non-null    float64
 31  stringency_index                         807 non-null    float64
 32  excess_mortality_cumulative_absolute     109 non-null    float64
 33  excess_mortality_cumulative              109 non-null    float64
 34  excess_mortality                         109 non-null    float64
 35  excess_mortality_cumulative_per_million  109 non-null    float64
dtypes: float64(34), object(2)
memory usage: 229.3+ KB

At this point we have trimmed the dataset down quite a bit. But there are still a lot of variables with null values. It is now time to take a closer look at these and see if we can deal with these missing values.

In [66]:
USdf[['date', 'new_cases']].head()

         date  new_cases
0  2020/01/22        NaN
1  2020/01/23        0.0
2  2020/01/24        1.0
3  2020/01/25        0.0
4  2020/01/26        3.0

In [67]:
USdf[['date', 'new_deaths']]

           date  new_deaths
0    2020/01/22         NaN
1    2020/01/23         NaN
2    2020/01/24         NaN
3    2020/01/25         NaN
4    2020/01/26         NaN
..          ...         ...
810  2022/04/11       322.0
811  2022/04/12       561.0
812  2022/04/13       956.0
813  2022/04/14       778.0
814  2022/04/15       437.0

[815 rows x 2 columns]

Total Cases and Total Deaths were only missing in the first few rows. It is reasonable to assume that for those day's entries, there had not yet been any cases or deaths, so the missing values can be filled with zeros.The same applies for the same stats per million.

In [75]:
USdf.fillna({'new_cases':0, 'new_deaths':0, 'total_cases_per_million':0, 'new_cases_per_million':0, 'total_deaths_per_million':0, 'new_deaths_per_million':0})

In [76]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 36 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     815 non-null    object
 1   total_cases                              815 non-null    float64
 2   new_cases                                815 non-null    float64
 3   new_deaths                               815 non-null    float64
 4   total_cases_per_million                  815 non-null    float64
 5   new_cases_per_million                    815 non-null    float64
 6   total_deaths_per_million                 815 non-null    float64
 7   new_deaths_per_million                   815 non-null    float64
 8   reproduction_rate                        765 non-null    float64
 9   icu_patients                             639 non-null    float64
 10  icu_patients_per_million                 639 non-null    float64
 11  hosp_patients                            639 non-null    float64
 12  hosp_patients_per_million                639 non-null    float64
 13  weekly_hosp_admissions                   633 non-null    float64
 14  weekly_hosp_admissions_per_million       633 non-null    float64
 15  total_tests                              770 non-null    float64
 16  new_tests                                770 non-null    float64
 17  total_tests_per_thousand                 770 non-null    float64
 18  new_tests_per_thousand                   770 non-null    float64
 19  positive_rate                            764 non-null    float64
 20  tests_per_case                           764 non-null    float64
 21  tests_units                              770 non-null    object
 22  total_vaccinations                       487 non-null    float64
 23  people_vaccinated                        487 non-null    float64
 24  people_fully_vaccinated                  487 non-null    float64
 25  total_boosters                           244 non-null    float64
 26  new_vaccinations                         486 non-null    float64
 27  total_vaccinations_per_hundred           487 non-null    float64
 28  people_vaccinated_per_hundred            487 non-null    float64
 29  people_fully_vaccinated_per_hundred      487 non-null    float64
 30  total_boosters_per_hundred               244 non-null    float64
 31  stringency_index                         807 non-null    float64
 32  excess_mortality_cumulative_absolute     109 non-null    float64
 33  excess_mortality_cumulative              109 non-null    float64
 34  excess_mortality                         109 non-null    float64
 35  excess_mortality_cumulative_per_million  109 non-null    float64
dtypes: float64(34), object(2)
memory usage: 229.3+ KB

The Covid 19 reproduction rate informs us about the spread of Covid 19 as it is passed on from one person to another. These will also be filled with zeros

In [95]:
USdf.fillna({'icu_patients':0, 'icu_patients_per_million':0, 'hosp_patients':0, 'hosp_patients_per_million':0, 'weekly_hosp_admissions':0, 'weekly_hosp_admissions_per_million':0}, inplace=True)

In [96]:
USdf.fillna({'total_tests':0, 'total_tests_per_thousand':0, 'new_tests':0, 'new_tests_per_thousand':0, 'tests_per_case':0, 'positive_rate':0}, inplace=True)

In [97]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 36 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     815 non-null    object
 1   total_cases                              815 non-null    float64
 2   new_cases                                815 non-null    float64
 3   new_deaths                               815 non-null    float64
 4   total_cases_per_million                  815 non-null    float64
 5   new_cases_per_million                    815 non-null    float64
 6   total_deaths_per_million                 815 non-null    float64
 7   new_deaths_per_million                   815 non-null    float64
 8   reproduction_rate                        815 non-null    float64
 9   icu_patients                             815 non-null    float64
 10  icu_patients_per_million                 815 non-null    float64
 11  hosp_patients                            815 non-null    float64
 12  hosp_patients_per_million                815 non-null    float64
 13  weekly_hosp_admissions                   815 non-null    float64
 14  weekly_hosp_admissions_per_million       815 non-null    float64
 15  total_tests                              815 non-null    float64
 16  new_tests                                815 non-null    float64
 17  total_tests_per_thousand                 815 non-null    float64
 18  new_tests_per_thousand                   815 non-null    float64
 19  positive_rate                            815 non-null    float64
 20  tests_per_case                           815 non-null    float64
 21  tests_units                              770 non-null    object
 22  total_vaccinations                       487 non-null    float64
 23  people_vaccinated                        487 non-null    float64
 24  people_fully_vaccinated                  487 non-null    float64
 25  total_boosters                           244 non-null    float64
 26  new_vaccinations                         486 non-null    float64
 27  total_vaccinations_per_hundred           487 non-null    float64
 28  people_vaccinated_per_hundred            487 non-null    float64
 29  people_fully_vaccinated_per_hundred      487 non-null    float64
 30  total_boosters_per_hundred               244 non-null    float64
 31  stringency_index                         807 non-null    float64
 32  excess_mortality_cumulative_absolute     109 non-null    float64
 33  excess_mortality_cumulative              109 non-null    float64
 34  excess_mortality                         109 non-null    float64
 35  excess_mortality_cumulative_per_million  109 non-null    float64
dtypes: float64(34), object(2)
memory usage: 229.3+ KB

In [98]:
USdf.fillna({'tests_per_case':0, 'total_vaccinations':0, 'people_vaccinated':0, 'people_fully_vaccinated':0, 'new_vaccinations':0, 'total_vaccinations_per_hundred':0, 'people_vaccinated_per_hundred':0, 'people_fully_vaccinated_per_hundred':0, 'total_boosters_per_hundred':0}, inplace=True)

In [99]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 36 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     815 non-null    object
 1   total_cases                              815 non-null    float64
 2   new_cases                                815 non-null    float64
 3   new_deaths                               815 non-null    float64
 4   total_cases_per_million                  815 non-null    float64
 5   new_cases_per_million                    815 non-null    float64
 6   total_deaths_per_million                 815 non-null    float64
 7   new_deaths_per_million                   815 non-null    float64
 8   reproduction_rate                        815 non-null    float64
 9   icu_patients                             815 non-null    float64
 10  icu_patients_per_million                 815 non-null    float64
 11  hosp_patients                            815 non-null    float64
 12  hosp_patients_per_million                815 non-null    float64
 13  weekly_hosp_admissions                   815 non-null    float64
 14  weekly_hosp_admissions_per_million       815 non-null    float64
 15  total_tests                              815 non-null    float64
 16  new_tests                                815 non-null    float64
 17  total_tests_per_thousand                 815 non-null    float64
 18  new_tests_per_thousand                   815 non-null    float64
 19  positive_rate                            815 non-null    float64
 20  tests_per_case                           815 non-null    float64
 21  tests_units                              770 non-null    object
 22  total_vaccinations                       815 non-null    float64
 23  people_vaccinated                        815 non-null    float64
 24  people_fully_vaccinated                  815 non-null    float64
 25  total_boosters                           244 non-null    float64
 26  new_vaccinations                         815 non-null    float64
 27  total_vaccinations_per_hundred           815 non-null    float64
 28  people_vaccinated_per_hundred            815 non-null    float64
 29  people_fully_vaccinated_per_hundred      815 non-null    float64
 30  total_boosters_per_hundred               815 non-null    float64
 31  stringency_index                         807 non-null    float64
 32  excess_mortality_cumulative_absolute     109 non-null    float64
 33  excess_mortality_cumulative              109 non-null    float64
 34  excess_mortality                         109 non-null    float64
 35  excess_mortality_cumulative_per_million  109 non-null    float64
dtypes: float64(34), object(2)
memory usage: 229.3+ KB

In [106]:
USdf[['date','stringency_index']].isnull().sum()

date                0
stringency_index    8
dtype: int64

In [110]:
USdf['stringency_index'].tail(20)

795    58.8
796    58.8
797    58.8
798    58.8
799    58.8
800    58.8
801    58.8
802    58.8
803    58.8
804    58.8
805    58.8
806    58.8
807     NaN
808     NaN
809     NaN
810     NaN
811     NaN
812     NaN
813     NaN
814     NaN
Name: stringency_index, dtype: float64

As can be seen above, only the last 8 entries don't have a stringency index. Looking at the trend in the data, we will provide a stringency index of 58.8 to these as well. The stringency index is just an indicator of how restrictive the covid policies were eg. lockdowns, mask wearing, etc..

In [111]:
USdf['stringency_index'].fillna(58.8, inplace=True)

In [112]:
USdf['stringency_index'].tail(20)

795    58.8
796    58.8
797    58.8
798    58.8
799    58.8
800    58.8
801    58.8
802    58.8
803    58.8
804    58.8
805    58.8
806    58.8
807    58.8
808    58.8
809    58.8
810    58.8
811    58.8
812    58.8
813    58.8
814    58.8
Name: stringency_index, dtype: float64

Checking whether people_vaccinated column is identical with people_fully_vaccinated column. Since they are not identical, both columns are retained.

In [113]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 36 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     815 non-null    object
 1   total_cases                              815 non-null    float64
 2   new_cases                                815 non-null    float64
 3   new_deaths                               815 non-null    float64
 4   total_cases_per_million                  815 non-null    float64
 5   new_cases_per_million                    815 non-null    float64
 6   total_deaths_per_million                 815 non-null    float64
 7   new_deaths_per_million                   815 non-null    float64
 8   reproduction_rate                        815 non-null    float64
 9   icu_patients                             815 non-null    float64
 10  icu_patients_per_million                 815 non-null    float64
 11  hosp_patients                            815 non-null    float64
 12  hosp_patients_per_million                815 non-null    float64
 13  weekly_hosp_admissions                   815 non-null    float64
 14  weekly_hosp_admissions_per_million       815 non-null    float64
 15  total_tests                              815 non-null    float64
 16  new_tests                                815 non-null    float64
 17  total_tests_per_thousand                 815 non-null    float64
 18  new_tests_per_thousand                   815 non-null    float64
 19  positive_rate                            815 non-null    float64
 20  tests_per_case                           815 non-null    float64
 21  tests_units                              770 non-null    object
 22  total_vaccinations                       815 non-null    float64
 23  people_vaccinated                        815 non-null    float64
 24  people_fully_vaccinated                  815 non-null    float64
 25  total_boosters                           244 non-null    float64
 26  new_vaccinations                         815 non-null    float64
 27  total_vaccinations_per_hundred           815 non-null    float64
 28  people_vaccinated_per_hundred            815 non-null    float64
 29  people_fully_vaccinated_per_hundred      815 non-null    float64
 30  total_boosters_per_hundred               815 non-null    float64
 31  stringency_index                         815 non-null    float64
 32  excess_mortality_cumulative_absolute     109 non-null    float64
 33  excess_mortality_cumulative              109 non-null    float64
 34  excess_mortality                         109 non-null    float64
 35  excess_mortality_cumulative_per_million  109 non-null    float64
dtypes: float64(34), object(2)
memory usage: 229.3+ KB

Excess mortality seems to be missing a whole lot of values. Its also a statistic that involves the current death rate and so it would give a false sense of the predictability/accuracy of the resulting model. Based on this logic, the features for excess mortality will be dropped.

In [116]:
USdf.drop(['excess_mortality', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality_cumulative_per_million'], axis=1, inplace=True)

In [117]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 815 non-null    object
 1   total_cases                          815 non-null    float64
 2   new_cases                            815 non-null    float64
 3   new_deaths                           815 non-null    float64
 4   total_cases_per_million              815 non-null    float64
 5   new_cases_per_million                815 non-null    float64
 6   total_deaths_per_million             815 non-null    float64
 7   new_deaths_per_million               815 non-null    float64
 8   reproduction_rate                    815 non-null    float64
 9   icu_patients                         815 non-null    float64
 10  icu_patients_per_million             815 non-null    float64
 11  hosp_patients                        815 non-null    float64
 12  hosp_patients_per_million            815 non-null    float64
 13  weekly_hosp_admissions               815 non-null    float64
 14  weekly_hosp_admissions_per_million   815 non-null    float64
 15  total_tests                          815 non-null    float64
 16  new_tests                            815 non-null    float64
 17  total_tests_per_thousand             815 non-null    float64
 18  new_tests_per_thousand               815 non-null    float64
 19  positive_rate                        815 non-null    float64
 20  tests_per_case                       815 non-null    float64
 21  tests_units                          770 non-null    object
 22  total_vaccinations                   815 non-null    float64
 23  people_vaccinated                    815 non-null    float64
 24  people_fully_vaccinated              815 non-null    float64
 25  total_boosters                       244 non-null    float64
 26  new_vaccinations                     815 non-null    float64
 27  total_vaccinations_per_hundred       815 non-null    float64
 28  people_vaccinated_per_hundred        815 non-null    float64
 29  people_fully_vaccinated_per_hundred  815 non-null    float64
 30  total_boosters_per_hundred           815 non-null    float64
 31  stringency_index                     815 non-null    float64
dtypes: float64(30), object(2)
memory usage: 203.9+ KB

In [127]:
USdf[['date','total_boosters']]

           date  total_boosters
0    2020/01/22             NaN
1    2020/01/23             NaN
2    2020/01/24             NaN
3    2020/01/25             NaN
4    2020/01/26             NaN
..          ...             ...
810  2022/04/11      99070369.0
811  2022/04/12      99138381.0
812  2022/04/13      99148999.0
813  2022/04/14             NaN
814  2022/04/15             NaN

[815 rows x 2 columns]

For the total Boosters missing values, we will make the initial missing values zero and then after the first entry, we will make fill with previous entries.

In [130]:
USdf['total_boosters'].fillna(method='ffill', inplace=True)

In [132]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 815 non-null    object
 1   total_cases                          815 non-null    float64
 2   new_cases                            815 non-null    float64
 3   new_deaths                           815 non-null    float64
 4   total_cases_per_million              815 non-null    float64
 5   new_cases_per_million                815 non-null    float64
 6   total_deaths_per_million             815 non-null    float64
 7   new_deaths_per_million               815 non-null    float64
 8   reproduction_rate                    815 non-null    float64
 9   icu_patients                         815 non-null    float64
 10  icu_patients_per_million             815 non-null    float64
 11  hosp_patients                        815 non-null    float64
 12  hosp_patients_per_million            815 non-null    float64
 13  weekly_hosp_admissions               815 non-null    float64
 14  weekly_hosp_admissions_per_million   815 non-null    float64
 15  total_tests                          815 non-null    float64
 16  new_tests                            815 non-null    float64
 17  total_tests_per_thousand             815 non-null    float64
 18  new_tests_per_thousand               815 non-null    float64
 19  positive_rate                        815 non-null    float64
 20  tests_per_case                       815 non-null    float64
 21  tests_units                          770 non-null    object
 22  total_vaccinations                   815 non-null    float64
 23  people_vaccinated                    815 non-null    float64
 24  people_fully_vaccinated              815 non-null    float64
 25  total_boosters                       246 non-null    float64
 26  new_vaccinations                     815 non-null    float64
 27  total_vaccinations_per_hundred       815 non-null    float64
 28  people_vaccinated_per_hundred        815 non-null    float64
 29  people_fully_vaccinated_per_hundred  815 non-null    float64
 30  total_boosters_per_hundred           815 non-null    float64
 31  stringency_index                     815 non-null    float64
dtypes: float64(30), object(2)
memory usage: 203.9+ KB

In [134]:
USdf['tests_units'].unique()

array([nan, 'tests performed'], dtype=object)

In [135]:
USdf['tests_units'].tail(50)

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
35                NaN
36                NaN
37                NaN
38                NaN
39    tests performed
40    tests performed
41    tests performed
42    tests performed
43    tests performed
44    tests performed
45    tests performed
46    tests performed
47    tests performed
48    tests performed
49    tests performed
Name: tests_units, dtype: object

In [139]:
USdf.tests_units.tail(50)

765    tests performed
766    tests performed
767    tests performed
768    tests performed
769    tests performed
770    tests performed
771    tests performed
772    tests performed
773    tests performed
774    tests performed
775    tests performed
776    tests performed
777    tests performed
778    tests performed
779    tests performed
780    tests performed
781    tests performed
782    tests performed
783    tests performed
784    tests performed
785    tests performed
786    tests performed
787    tests performed
788    tests performed
789    tests performed
790    tests performed
791    tests performed
792    tests performed
793    tests performed
794    tests performed
795    tests performed
796    tests performed
797    tests performed
798    tests performed
799    tests performed
800    tests performed
801    tests performed
802    tests performed
803    tests performed
804    tests performed
805    tests performed
806    tests performed
807    tests performed
808    tests performed
809                NaN
810                NaN
811                NaN
812                NaN
813                NaN
814                NaN
Name: tests_units, dtype: object

For tests_units column, it seems its just the first records, and the last records that have missing values. We shall perform foward fill and then fill with zeros

In [140]:
USdf['tests_units'].fillna(method='ffill', inplace=True)

In [141]:
USdf['tests_units'].fillna(0, inplace=True)

In [142]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 815 non-null    object
 1   total_cases                          815 non-null    float64
 2   new_cases                            815 non-null    float64
 3   new_deaths                           815 non-null    float64
 4   total_cases_per_million              815 non-null    float64
 5   new_cases_per_million                815 non-null    float64
 6   total_deaths_per_million             815 non-null    float64
 7   new_deaths_per_million               815 non-null    float64
 8   reproduction_rate                    815 non-null    float64
 9   icu_patients                         815 non-null    float64
 10  icu_patients_per_million             815 non-null    float64
 11  hosp_patients                        815 non-null    float64
 12  hosp_patients_per_million            815 non-null    float64
 13  weekly_hosp_admissions               815 non-null    float64
 14  weekly_hosp_admissions_per_million   815 non-null    float64
 15  total_tests                          815 non-null    float64
 16  new_tests                            815 non-null    float64
 17  total_tests_per_thousand             815 non-null    float64
 18  new_tests_per_thousand               815 non-null    float64
 19  positive_rate                        815 non-null    float64
 20  tests_per_case                       815 non-null    float64
 21  tests_units                          815 non-null    object
 22  total_vaccinations                   815 non-null    float64
 23  people_vaccinated                    815 non-null    float64
 24  people_fully_vaccinated              815 non-null    float64
 25  total_boosters                       246 non-null    float64
 26  new_vaccinations                     815 non-null    float64
 27  total_vaccinations_per_hundred       815 non-null    float64
 28  people_vaccinated_per_hundred        815 non-null    float64
 29  people_fully_vaccinated_per_hundred  815 non-null    float64
 30  total_boosters_per_hundred           815 non-null    float64
 31  stringency_index                     815 non-null    float64
dtypes: float64(30), object(2)
memory usage: 203.9+ KB

In [147]:
USdf[['date','total_boosters']].tail(50)

           date  total_boosters
765  2022/02/25      95235120.0
766  2022/02/26      95341799.0
767  2022/02/27      95395465.0
768  2022/02/28      95539878.0
769  2022/03/01      95660131.0
770  2022/03/02      95768586.0
771  2022/03/03      95877724.0
772  2022/03/04      96014896.0
773  2022/03/05      96089745.0
774  2022/03/06      96124939.0
775  2022/03/07      96215375.0
776  2022/03/08      96307317.0
777  2022/03/09      96396353.0
778  2022/03/10      96486628.0
779  2022/03/11      96596658.0
780  2022/03/12      96653898.0
781  2022/03/13      96683256.0
782  2022/03/14      96766181.0
783  2022/03/15      96853074.0
784  2022/03/16      96941521.0
785  2022/03/17      97027890.0
786  2022/03/18      97139705.0
787  2022/03/19      97200964.0
788  2022/03/20      97231769.0
789  2022/03/21      97310028.0
790  2022/03/22      97387161.0
791  2022/03/23      97467328.0
792  2022/03/24      97546018.0
793  2022/03/25      97644917.0
794  2022/03/26      97697264.0
795  2022/03/27      97723922.0
796  2022/03/28      97793446.0
797  2022/03/29      97870016.0
798  2022/03/30      97974874.0
799  2022/03/31      98095277.0
800  2022/04/01      98231898.0
801  2022/04/02      98302064.0
802  2022/04/03      98342109.0
803  2022/04/04      98445774.0
804  2022/04/05      98547148.0
805  2022/04/06      98652592.0
806  2022/04/07      98757821.0
807  2022/04/08      98880064.0
808  2022/04/09      98941040.0
809  2022/04/10      98977001.0
810  2022/04/11      99070369.0
811  2022/04/12      99138381.0
812  2022/04/13      99148999.0
813  2022/04/14      99148999.0
814  2022/04/15      99148999.0

The total boosters feature will also be forward filled then zeros added at the start.

In [148]:
USdf['total_boosters'].fillna(method='ffill', inplace=True)

In [149]:
USdf['total_boosters'].fillna(0, inplace=True)

In [150]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 815 non-null    object
 1   total_cases                          815 non-null    float64
 2   new_cases                            815 non-null    float64
 3   new_deaths                           815 non-null    float64
 4   total_cases_per_million              815 non-null    float64
 5   new_cases_per_million                815 non-null    float64
 6   total_deaths_per_million             815 non-null    float64
 7   new_deaths_per_million               815 non-null    float64
 8   reproduction_rate                    815 non-null    float64
 9   icu_patients                         815 non-null    float64
 10  icu_patients_per_million             815 non-null    float64
 11  hosp_patients                        815 non-null    float64
 12  hosp_patients_per_million            815 non-null    float64
 13  weekly_hosp_admissions               815 non-null    float64
 14  weekly_hosp_admissions_per_million   815 non-null    float64
 15  total_tests                          815 non-null    float64
 16  new_tests                            815 non-null    float64
 17  total_tests_per_thousand             815 non-null    float64
 18  new_tests_per_thousand               815 non-null    float64
 19  positive_rate                        815 non-null    float64
 20  tests_per_case                       815 non-null    float64
 21  tests_units                          815 non-null    object
 22  total_vaccinations                   815 non-null    float64
 23  people_vaccinated                    815 non-null    float64
 24  people_fully_vaccinated              815 non-null    float64
 25  total_boosters                       815 non-null    float64
 26  new_vaccinations                     815 non-null    float64
 27  total_vaccinations_per_hundred       815 non-null    float64
 28  people_vaccinated_per_hundred        815 non-null    float64
 29  people_fully_vaccinated_per_hundred  815 non-null    float64
 30  total_boosters_per_hundred           815 non-null    float64
 31  stringency_index                     815 non-null    float64
dtypes: float64(30), object(2)
memory usage: 203.9+ KB

In [152]:
USdf.duplicated().sum()

0

In [153]:
USdf.duplicated(subset=['people_vaccinated', 'people_fully_vaccinated'])

0      False
1       True
2       True
3       True
4       True
       ...
810    False
811    False
812    False
813     True
814     True
Length: 815, dtype: bool

In [154]:
vacdup = USdf.duplicated(subset=['people_vaccinated', 'people_fully_vaccinated'])

In [155]:
vacdup[vacdup != True]

0      False
326    False
327    False
328    False
329    False
       ...
808    False
809    False
810    False
811    False
812    False
Length: 488, dtype: bool

In [156]:
USdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 815 non-null    object
 1   total_cases                          815 non-null    float64
 2   new_cases                            815 non-null    float64
 3   new_deaths                           815 non-null    float64
 4   total_cases_per_million              815 non-null    float64
 5   new_cases_per_million                815 non-null    float64
 6   total_deaths_per_million             815 non-null    float64
 7   new_deaths_per_million               815 non-null    float64
 8   reproduction_rate                    815 non-null    float64
 9   icu_patients                         815 non-null    float64
 10  icu_patients_per_million             815 non-null    float64
 11  hosp_patients                        815 non-null    float64
 12  hosp_patients_per_million            815 non-null    float64
 13  weekly_hosp_admissions               815 non-null    float64
 14  weekly_hosp_admissions_per_million   815 non-null    float64
 15  total_tests                          815 non-null    float64
 16  new_tests                            815 non-null    float64
 17  total_tests_per_thousand             815 non-null    float64
 18  new_tests_per_thousand               815 non-null    float64
 19  positive_rate                        815 non-null    float64
 20  tests_per_case                       815 non-null    float64
 21  tests_units                          815 non-null    object
 22  total_vaccinations                   815 non-null    float64
 23  people_vaccinated                    815 non-null    float64
 24  people_fully_vaccinated              815 non-null    float64
 25  total_boosters                       815 non-null    float64
 26  new_vaccinations                     815 non-null    float64
 27  total_vaccinations_per_hundred       815 non-null    float64
 28  people_vaccinated_per_hundred        815 non-null    float64
 29  people_fully_vaccinated_per_hundred  815 non-null    float64
 30  total_boosters_per_hundred           815 non-null    float64
 31  stringency_index                     815 non-null    float64
dtypes: float64(30), object(2)
memory usage: 203.9+ KB

In [158]:
USdf.to_csv('Covid_Clean_Dataset')