*****PREDICTING CHANGE IN DEATH RATE DUE TO COVID POLICIES*****

When Covid broke out, a bunch of policies were put out in order to help reduce the number of deaths due to the disease. It is important to understand whether these policies were truly effective in case a disease similar to Covid ever breaks out in the future.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('covid_data.csv', sep=';')

In [3]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020/02/24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020/02/25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020/02/26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020/02/27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020/02/28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

The Data has been successfully imported into the notebook. The data is from February 2020 to April 2022.

Looking to see the stats of the data

In [4]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.726410e+05,1.724630e+05,1.712940e+05,1.544800e+05,154500.000000,153353.000000,171842.000000,171664.000000,170500.000000,153694.000000,...,112127.000000,110590.000000,72641.000000,130906.000000,167562.000000,144191.000000,6.078000e+03,6078.000000,6078.000000,6078.000000
mean,2.882052e+06,1.242727e+04,1.243800e+04,6.101233e+04,166.240369,167.166598,34887.610170,181.871695,181.769950,546.383599,...,10.649534,32.786541,50.843202,3.027735,73.663241,0.725414,3.899161e+04,9.582009,15.804225,1035.395150
std,1.791153e+07,8.872410e+04,8.708769e+04,3.190189e+05,814.611919,797.676071,64162.041734,749.035427,577.338034,827.897023,...,10.587423,13.523888,31.809860,2.447097,7.463400,0.149847,1.088362e+05,16.258235,29.521194,1482.622037
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1826.595723
25%,2.329000e+03,1.000000e+00,6.857000e+00,8.600000e+01,0.000000,0.143000,684.185250,0.022750,1.592000,20.384000,...,1.900000,21.600000,20.859000,1.300000,69.500000,0.602000,-4.415000e+01,-0.450000,-0.560000,-18.981390
50%,3.052600e+04,7.800000e+01,1.064290e+02,8.370000e+02,2.000000,2.286000,5391.156000,11.164000,19.233000,146.061500,...,6.300000,31.400000,49.839000,2.400000,75.090000,0.743000,3.585550e+03,6.300000,7.380000,512.797169
75%,3.364600e+05,1.073000e+03,1.172571e+03,7.891250e+03,19.000000,20.857000,43577.160000,103.632750,126.342000,784.131750,...,19.300000,41.300000,82.502000,4.000000,79.190000,0.845000,2.639225e+04,14.640000,22.465000,1699.146464
max,5.036050e+08,4.089026e+06,3.436980e+06,6.195647e+06,18144.000000,14783.286000,706541.904000,51427.491000,16052.608000,6371.964000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.163660e+06,111.010000,375.000000,9573.960130

In [5]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

Next, we subset the data to only show Botswana data as botsdf

In [6]:
botsdf = df[df.location == 'Botswana']

In [7]:
botsdf.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
21749,BWA,Africa,Botswana,2020/03/30,3.0,3.0,NaN,NaN,NaN,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
21750,BWA,Africa,Botswana,2020/03/31,4.0,1.0,NaN,1.0,1.0,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
21751,BWA,Africa,Botswana,2020/04/01,4.0,0.0,NaN,1.0,0.0,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
21752,BWA,Africa,Botswana,2020/04/02,4.0,0.0,NaN,1.0,0.0,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
21753,BWA,Africa,Botswana,2020/04/03,4.0,0.0,NaN,1.0,0.0,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN

In [8]:
botsdf.shape

(747, 67)

In [9]:
botsdf.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,747.000000,744.000000,739.000000,746.000000,746.000000,741.000000,747.000000,744.000000,739.000000,746.000000,...,7.470000e+02,7.470000e+02,0.0,7.470000e+02,7.470000e+02,7.470000e+02,0.0,0.0,0.0,0.0
mean,87381.294511,411.100806,413.492421,1023.906166,3.603217,3.625474,36450.791087,171.489208,172.486850,427.118701,...,5.700000e+00,3.440000e+01,NaN,1.800000e+00,6.959000e+01,7.350000e-01,NaN,NaN,NaN,NaN
std,96785.266913,1864.779395,716.409676,1077.652711,13.471150,5.999007,40373.624175,777.885978,298.847642,449.538933,...,7.821207e-14,3.626196e-13,NaN,2.510785e-14,1.222952e-12,1.033199e-14,NaN,NaN,NaN,NaN
min,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.251000,0.000000,0.000000,0.417000,...,5.700000e+00,3.440000e+01,NaN,1.800000e+00,6.959000e+01,7.350000e-01,NaN,NaN,NaN,NaN
25%,3172.000000,0.000000,35.857000,16.000000,0.000000,0.000000,1323.188000,0.000000,14.958000,6.674000,...,5.700000e+00,3.440000e+01,NaN,1.800000e+00,6.959000e+01,7.350000e-01,NaN,NaN,NaN,NaN
50%,41710.000000,0.000000,188.000000,616.000000,0.000000,0.714000,17399.176000,0.000000,78.424000,256.962000,...,5.700000e+00,3.440000e+01,NaN,1.800000e+00,6.959000e+01,7.350000e-01,NaN,NaN,NaN,NaN
75%,180844.500000,1.250000,480.286000,2379.750000,0.000000,5.000000,75438.629000,0.521250,200.349000,992.704500,...,5.700000e+00,3.440000e+01,NaN,1.800000e+00,6.959000e+01,7.350000e-01,NaN,NaN,NaN,NaN
max,305859.000000,41576.000000,5939.429000,2688.000000,141.000000,38.429000,127587.976000,17343.278000,2477.611000,1121.289000,...,5.700000e+00,3.440000e+01,NaN,1.800000e+00,6.959000e+01,7.350000e-01,NaN,NaN,NaN,NaN

In [10]:
botsdf.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

botsdf has the field iso_code. This is just a code for countries. It does not contribute much to the data, so it is dropped along with continent and location since we already know all the data is for Botswana.

In [11]:
botsdf['iso_code'].nunique()

1

In [12]:
bots2df = botsdf.drop('iso_code', axis=1)

In [13]:
bots2df = botsdf.drop(['iso_code','continent', 'location'], axis=1)

In [14]:
bots2df

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
21749,2020/03/30,3.0,3.0,NaN,NaN,NaN,NaN,1.251,1.251,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
21750,2020/03/31,4.0,1.0,NaN,1.0,1.0,NaN,1.669,0.417,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
21751,2020/04/01,4.0,0.0,NaN,1.0,0.0,NaN,1.669,0.000,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
21752,2020/04/02,4.0,0.0,NaN,1.0,0.0,NaN,1.669,0.000,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
21753,2020/04/03,4.0,0.0,NaN,1.0,0.0,NaN,1.669,0.000,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22491,2022/04/11,305526.0,0.0,0.000,2686.0,0.0,0.000,127449.066,0.000,0.000,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
22492,2022/04/12,305859.0,333.0,47.571,2688.0,2.0,0.286,127587.976,138.910,19.844,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
22493,2022/04/13,305859.0,NaN,NaN,2688.0,0.0,0.286,127587.976,NaN,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
22494,2022/04/14,305859.0,NaN,NaN,2688.0,0.0,0.286,127587.976,NaN,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN
22495,2022/04/15,305859.0,NaN,NaN,2688.0,0.0,0.286,127587.976,NaN,NaN,...,5.7,34.4,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN

In [15]:
bots2df.columns

Index(['date', 'total_cases', 'new_cases', 'new_cases_smoothed',
       'total_deaths', 'new_deaths', 'new_deaths_smoothed',
       'total_cases_per_million', 'new_cases_per_million',
       'new_cases_smoothed_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'new_deaths_smoothed_per_million',
       'reproduction_rate', 'icu_patients', 'icu_patients_per_million',
       'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [16]:
bots2df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747 entries, 21749 to 22495
Data columns (total 64 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        747 non-null    object
 1   total_cases                                 747 non-null    float64
 2   new_cases                                   744 non-null    float64
 3   new_cases_smoothed                          739 non-null    float64
 4   total_deaths                                746 non-null    float64
 5   new_deaths                                  746 non-null    float64
 6   new_deaths_smoothed                         741 non-null    float64
 7   total_cases_per_million                     747 non-null    float64
 8   new_cases_per_million                       744 non-null    float64
 9   new_cases_smoothed_per_million              739 non-null    float64
 10  total_deaths_per_million                    746 non-null    float64
 11  new_deaths_per_million                      746 non-null    float64
 12  new_deaths_smoothed_per_million             741 non-null    float64
 13  reproduction_rate                           648 non-null    float64
 14  icu_patients                                0 non-null      float64
 15  icu_patients_per_million                    0 non-null      float64
 16  hosp_patients                               0 non-null      float64
 17  hosp_patients_per_million                   0 non-null      float64
 18  weekly_icu_admissions                       0 non-null      float64
 19  weekly_icu_admissions_per_million           0 non-null      float64
 20  weekly_hosp_admissions                      0 non-null      float64
 21  weekly_hosp_admissions_per_million          0 non-null      float64
 22  total_tests                                 203 non-null    float64
 23  new_tests                                   34 non-null     float64
 24  total_tests_per_thousand                    203 non-null    float64
 25  new_tests_per_thousand                      34 non-null     float64
 26  new_tests_smoothed                          710 non-null    float64
 27  new_tests_smoothed_per_thousand             710 non-null    float64
 28  positive_rate                               695 non-null    float64
 29  tests_per_case                              663 non-null    float64
 30  tests_units                                 717 non-null    object
 31  total_vaccinations                          54 non-null     float64
 32  people_vaccinated                           56 non-null     float64
 33  people_fully_vaccinated                     38 non-null     float64
 34  total_boosters                              6 non-null      float64
 35  new_vaccinations                            1 non-null      float64
 36  new_vaccinations_smoothed                   361 non-null    float64
 37  total_vaccinations_per_hundred              54 non-null     float64
 38  people_vaccinated_per_hundred               56 non-null     float64
 39  people_fully_vaccinated_per_hundred         38 non-null     float64
 40  total_boosters_per_hundred                  6 non-null      float64
 41  new_vaccinations_smoothed_per_million       361 non-null    float64
 42  new_people_vaccinated_smoothed              361 non-null    float64
 43  new_people_vaccinated_smoothed_per_hundred  361 non-null    float64
 44  stringency_index                            736 non-null    float64
 45  population                                  747 non-null    float64
 46  population_density                          747 non-null    float64
 47  median_age                                  747 non-null    float64
 48  aged_65_older                               747 non-null    float64
 49  aged_70_older                               747 non-null    float64
 50  gdp_per_capita                              747 non-null    float64
 51  extreme_poverty                             0 non-null      float64
 52  cardiovasc_death_rate                       747 non-null    float64
 53  diabetes_prevalence                         747 non-null    float64
 54  female_smokers                              747 non-null    float64
 55  male_smokers                                747 non-null    float64
 56  handwashing_facilities                      0 non-null      float64
 57  hospital_beds_per_thousand                  747 non-null    float64
 58  life_expectancy                             747 non-null    float64
 59  human_development_index                     747 non-null    float64
 60  excess_mortality_cumulative_absolute        0 non-null      float64
 61  excess_mortality_cumulative                 0 non-null      float64
 62  excess_mortality                            0 non-null      float64
 63  excess_mortality_cumulative_per_million     0 non-null      float64
dtypes: float64(62), object(2)
memory usage: 379.3+ KB

The column 'aged_70_older' is also dropped in favor of 'aged_65_older' and the variable data is used now.

In [17]:
data = bots2df.drop('aged_70_older', axis = 1)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747 entries, 21749 to 22495
Data columns (total 63 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        747 non-null    object
 1   total_cases                                 747 non-null    float64
 2   new_cases                                   744 non-null    float64
 3   new_cases_smoothed                          739 non-null    float64
 4   total_deaths                                746 non-null    float64
 5   new_deaths                                  746 non-null    float64
 6   new_deaths_smoothed                         741 non-null    float64
 7   total_cases_per_million                     747 non-null    float64
 8   new_cases_per_million                       744 non-null    float64
 9   new_cases_smoothed_per_million              739 non-null    float64
 10  total_deaths_per_million                    746 non-null    float64
 11  new_deaths_per_million                      746 non-null    float64
 12  new_deaths_smoothed_per_million             741 non-null    float64
 13  reproduction_rate                           648 non-null    float64
 14  icu_patients                                0 non-null      float64
 15  icu_patients_per_million                    0 non-null      float64
 16  hosp_patients                               0 non-null      float64
 17  hosp_patients_per_million                   0 non-null      float64
 18  weekly_icu_admissions                       0 non-null      float64
 19  weekly_icu_admissions_per_million           0 non-null      float64
 20  weekly_hosp_admissions                      0 non-null      float64
 21  weekly_hosp_admissions_per_million          0 non-null      float64
 22  total_tests                                 203 non-null    float64
 23  new_tests                                   34 non-null     float64
 24  total_tests_per_thousand                    203 non-null    float64
 25  new_tests_per_thousand                      34 non-null     float64
 26  new_tests_smoothed                          710 non-null    float64
 27  new_tests_smoothed_per_thousand             710 non-null    float64
 28  positive_rate                               695 non-null    float64
 29  tests_per_case                              663 non-null    float64
 30  tests_units                                 717 non-null    object
 31  total_vaccinations                          54 non-null     float64
 32  people_vaccinated                           56 non-null     float64
 33  people_fully_vaccinated                     38 non-null     float64
 34  total_boosters                              6 non-null      float64
 35  new_vaccinations                            1 non-null      float64
 36  new_vaccinations_smoothed                   361 non-null    float64
 37  total_vaccinations_per_hundred              54 non-null     float64
 38  people_vaccinated_per_hundred               56 non-null     float64
 39  people_fully_vaccinated_per_hundred         38 non-null     float64
 40  total_boosters_per_hundred                  6 non-null      float64
 41  new_vaccinations_smoothed_per_million       361 non-null    float64
 42  new_people_vaccinated_smoothed              361 non-null    float64
 43  new_people_vaccinated_smoothed_per_hundred  361 non-null    float64
 44  stringency_index                            736 non-null    float64
 45  population                                  747 non-null    float64
 46  population_density                          747 non-null    float64
 47  median_age                                  747 non-null    float64
 48  aged_65_older                               747 non-null    float64
 49  gdp_per_capita                              747 non-null    float64
 50  extreme_poverty                             0 non-null      float64
 51  cardiovasc_death_rate                       747 non-null    float64
 52  diabetes_prevalence                         747 non-null    float64
 53  female_smokers                              747 non-null    float64
 54  male_smokers                                747 non-null    float64
 55  handwashing_facilities                      0 non-null      float64
 56  hospital_beds_per_thousand                  747 non-null    float64
 57  life_expectancy                             747 non-null    float64
 58  human_development_index                     747 non-null    float64
 59  excess_mortality_cumulative_absolute        0 non-null      float64
 60  excess_mortality_cumulative                 0 non-null      float64
 61  excess_mortality                            0 non-null      float64
 62  excess_mortality_cumulative_per_million     0 non-null      float64
dtypes: float64(61), object(2)
memory usage: 373.5+ KB

Columns with all null values are removed from the data

In [19]:
data.drop(['excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million', 'icu_patients'], axis = 1, inplace=True)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747 entries, 21749 to 22495
Data columns (total 58 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        747 non-null    object
 1   total_cases                                 747 non-null    float64
 2   new_cases                                   744 non-null    float64
 3   new_cases_smoothed                          739 non-null    float64
 4   total_deaths                                746 non-null    float64
 5   new_deaths                                  746 non-null    float64
 6   new_deaths_smoothed                         741 non-null    float64
 7   total_cases_per_million                     747 non-null    float64
 8   new_cases_per_million                       744 non-null    float64
 9   new_cases_smoothed_per_million              739 non-null    float64
 10  total_deaths_per_million                    746 non-null    float64
 11  new_deaths_per_million                      746 non-null    float64
 12  new_deaths_smoothed_per_million             741 non-null    float64
 13  reproduction_rate                           648 non-null    float64
 14  icu_patients_per_million                    0 non-null      float64
 15  hosp_patients                               0 non-null      float64
 16  hosp_patients_per_million                   0 non-null      float64
 17  weekly_icu_admissions                       0 non-null      float64
 18  weekly_icu_admissions_per_million           0 non-null      float64
 19  weekly_hosp_admissions                      0 non-null      float64
 20  weekly_hosp_admissions_per_million          0 non-null      float64
 21  total_tests                                 203 non-null    float64
 22  new_tests                                   34 non-null     float64
 23  total_tests_per_thousand                    203 non-null    float64
 24  new_tests_per_thousand                      34 non-null     float64
 25  new_tests_smoothed                          710 non-null    float64
 26  new_tests_smoothed_per_thousand             710 non-null    float64
 27  positive_rate                               695 non-null    float64
 28  tests_per_case                              663 non-null    float64
 29  tests_units                                 717 non-null    object
 30  total_vaccinations                          54 non-null     float64
 31  people_vaccinated                           56 non-null     float64
 32  people_fully_vaccinated                     38 non-null     float64
 33  total_boosters                              6 non-null      float64
 34  new_vaccinations                            1 non-null      float64
 35  new_vaccinations_smoothed                   361 non-null    float64
 36  total_vaccinations_per_hundred              54 non-null     float64
 37  people_vaccinated_per_hundred               56 non-null     float64
 38  people_fully_vaccinated_per_hundred         38 non-null     float64
 39  total_boosters_per_hundred                  6 non-null      float64
 40  new_vaccinations_smoothed_per_million       361 non-null    float64
 41  new_people_vaccinated_smoothed              361 non-null    float64
 42  new_people_vaccinated_smoothed_per_hundred  361 non-null    float64
 43  stringency_index                            736 non-null    float64
 44  population                                  747 non-null    float64
 45  population_density                          747 non-null    float64
 46  median_age                                  747 non-null    float64
 47  aged_65_older                               747 non-null    float64
 48  gdp_per_capita                              747 non-null    float64
 49  extreme_poverty                             0 non-null      float64
 50  cardiovasc_death_rate                       747 non-null    float64
 51  diabetes_prevalence                         747 non-null    float64
 52  female_smokers                              747 non-null    float64
 53  male_smokers                                747 non-null    float64
 54  handwashing_facilities                      0 non-null      float64
 55  hospital_beds_per_thousand                  747 non-null    float64
 56  life_expectancy                             747 non-null    float64
 57  human_development_index                     747 non-null    float64
dtypes: float64(56), object(2)
memory usage: 344.3+ KB

In [21]:
data.drop(['handwashing_facilities', 'extreme_poverty', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million'], axis = 1, inplace = True)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747 entries, 21749 to 22495
Data columns (total 51 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        747 non-null    object
 1   total_cases                                 747 non-null    float64
 2   new_cases                                   744 non-null    float64
 3   new_cases_smoothed                          739 non-null    float64
 4   total_deaths                                746 non-null    float64
 5   new_deaths                                  746 non-null    float64
 6   new_deaths_smoothed                         741 non-null    float64
 7   total_cases_per_million                     747 non-null    float64
 8   new_cases_per_million                       744 non-null    float64
 9   new_cases_smoothed_per_million              739 non-null    float64
 10  total_deaths_per_million                    746 non-null    float64
 11  new_deaths_per_million                      746 non-null    float64
 12  new_deaths_smoothed_per_million             741 non-null    float64
 13  reproduction_rate                           648 non-null    float64
 14  weekly_hosp_admissions                      0 non-null      float64
 15  weekly_hosp_admissions_per_million          0 non-null      float64
 16  total_tests                                 203 non-null    float64
 17  new_tests                                   34 non-null     float64
 18  total_tests_per_thousand                    203 non-null    float64
 19  new_tests_per_thousand                      34 non-null     float64
 20  new_tests_smoothed                          710 non-null    float64
 21  new_tests_smoothed_per_thousand             710 non-null    float64
 22  positive_rate                               695 non-null    float64
 23  tests_per_case                              663 non-null    float64
 24  tests_units                                 717 non-null    object
 25  total_vaccinations                          54 non-null     float64
 26  people_vaccinated                           56 non-null     float64
 27  people_fully_vaccinated                     38 non-null     float64
 28  total_boosters                              6 non-null      float64
 29  new_vaccinations                            1 non-null      float64
 30  new_vaccinations_smoothed                   361 non-null    float64
 31  total_vaccinations_per_hundred              54 non-null     float64
 32  people_vaccinated_per_hundred               56 non-null     float64
 33  people_fully_vaccinated_per_hundred         38 non-null     float64
 34  total_boosters_per_hundred                  6 non-null      float64
 35  new_vaccinations_smoothed_per_million       361 non-null    float64
 36  new_people_vaccinated_smoothed              361 non-null    float64
 37  new_people_vaccinated_smoothed_per_hundred  361 non-null    float64
 38  stringency_index                            736 non-null    float64
 39  population                                  747 non-null    float64
 40  population_density                          747 non-null    float64
 41  median_age                                  747 non-null    float64
 42  aged_65_older                               747 non-null    float64
 43  gdp_per_capita                              747 non-null    float64
 44  cardiovasc_death_rate                       747 non-null    float64
 45  diabetes_prevalence                         747 non-null    float64
 46  female_smokers                              747 non-null    float64
 47  male_smokers                                747 non-null    float64
 48  hospital_beds_per_thousand                  747 non-null    float64
 49  life_expectancy                             747 non-null    float64
 50  human_development_index                     747 non-null    float64
dtypes: float64(49), object(2)
memory usage: 303.5+ KB

In [23]:
data.drop(['weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'new_vaccinations', 'total_boosters'], axis = 1, inplace = True)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747 entries, 21749 to 22495
Data columns (total 47 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        747 non-null    object
 1   total_cases                                 747 non-null    float64
 2   new_cases                                   744 non-null    float64
 3   new_cases_smoothed                          739 non-null    float64
 4   total_deaths                                746 non-null    float64
 5   new_deaths                                  746 non-null    float64
 6   new_deaths_smoothed                         741 non-null    float64
 7   total_cases_per_million                     747 non-null    float64
 8   new_cases_per_million                       744 non-null    float64
 9   new_cases_smoothed_per_million              739 non-null    float64
 10  total_deaths_per_million                    746 non-null    float64
 11  new_deaths_per_million                      746 non-null    float64
 12  new_deaths_smoothed_per_million             741 non-null    float64
 13  reproduction_rate                           648 non-null    float64
 14  total_tests                                 203 non-null    float64
 15  new_tests                                   34 non-null     float64
 16  total_tests_per_thousand                    203 non-null    float64
 17  new_tests_per_thousand                      34 non-null     float64
 18  new_tests_smoothed                          710 non-null    float64
 19  new_tests_smoothed_per_thousand             710 non-null    float64
 20  positive_rate                               695 non-null    float64
 21  tests_per_case                              663 non-null    float64
 22  tests_units                                 717 non-null    object
 23  total_vaccinations                          54 non-null     float64
 24  people_vaccinated                           56 non-null     float64
 25  people_fully_vaccinated                     38 non-null     float64
 26  new_vaccinations_smoothed                   361 non-null    float64
 27  total_vaccinations_per_hundred              54 non-null     float64
 28  people_vaccinated_per_hundred               56 non-null     float64
 29  people_fully_vaccinated_per_hundred         38 non-null     float64
 30  total_boosters_per_hundred                  6 non-null      float64
 31  new_vaccinations_smoothed_per_million       361 non-null    float64
 32  new_people_vaccinated_smoothed              361 non-null    float64
 33  new_people_vaccinated_smoothed_per_hundred  361 non-null    float64
 34  stringency_index                            736 non-null    float64
 35  population                                  747 non-null    float64
 36  population_density                          747 non-null    float64
 37  median_age                                  747 non-null    float64
 38  aged_65_older                               747 non-null    float64
 39  gdp_per_capita                              747 non-null    float64
 40  cardiovasc_death_rate                       747 non-null    float64
 41  diabetes_prevalence                         747 non-null    float64
 42  female_smokers                              747 non-null    float64
 43  male_smokers                                747 non-null    float64
 44  hospital_beds_per_thousand                  747 non-null    float64
 45  life_expectancy                             747 non-null    float64
 46  human_development_index                     747 non-null    float64
dtypes: float64(45), object(2)
memory usage: 280.1+ KB

Checking whether people_vaccinated column is identical with people_fully_vaccinated column. Since they are not identical, both columns are retained.

In [25]:
data['people_vaccinated']

21749   NaN
21750   NaN
21751   NaN
21752   NaN
21753   NaN
         ..
22491   NaN
22492   NaN
22493   NaN
22494   NaN
22495   NaN
Name: people_vaccinated, Length: 747, dtype: float64

In [26]:
data['people_fully_vaccinated']

21749   NaN
21750   NaN
21751   NaN
21752   NaN
21753   NaN
         ..
22491   NaN
22492   NaN
22493   NaN
22494   NaN
22495   NaN
Name: people_fully_vaccinated, Length: 747, dtype: float64

In [27]:
data.duplicated()

21749    False
21750    False
21751    False
21752    False
21753    False
         ...
22491    False
22492    False
22493    False
22494    False
22495    False
Length: 747, dtype: bool

In [28]:
data.duplicated(subset=['people_vaccinated', 'people_fully_vaccinated'])

21749    False
21750     True
21751     True
21752     True
21753     True
         ...
22491     True
22492     True
22493     True
22494     True
22495     True
Length: 747, dtype: bool

In [29]:
vacdup = data.duplicated(subset=['people_vaccinated', 'people_fully_vaccinated'])

In [30]:
vacdup[vacdup != True]

21749    False
22109    False
22117    False
22124    False
22127    False
22131    False
22134    False
22138    False
22141    False
22145    False
22152    False
22155    False
22159    False
22162    False
22166    False
22169    False
22173    False
22176    False
22183    False
22190    False
22194    False
22197    False
22201    False
22204    False
22208    False
22211    False
22215    False
22216    False
22222    False
22225    False
22229    False
22232    False
22236    False
22239    False
22243    False
22247    False
22250    False
22262    False
22269    False
22277    False
22283    False
22290    False
22298    False
22305    False
22312    False
22319    False
22326    False
22333    False
22339    False
22390    False
22407    False
22430    False
22441    False
22446    False
22455    False
22462    False
22470    False
dtype: bool

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747 entries, 21749 to 22495
Data columns (total 47 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        747 non-null    object
 1   total_cases                                 747 non-null    float64
 2   new_cases                                   744 non-null    float64
 3   new_cases_smoothed                          739 non-null    float64
 4   total_deaths                                746 non-null    float64
 5   new_deaths                                  746 non-null    float64
 6   new_deaths_smoothed                         741 non-null    float64
 7   total_cases_per_million                     747 non-null    float64
 8   new_cases_per_million                       744 non-null    float64
 9   new_cases_smoothed_per_million              739 non-null    float64
 10  total_deaths_per_million                    746 non-null    float64
 11  new_deaths_per_million                      746 non-null    float64
 12  new_deaths_smoothed_per_million             741 non-null    float64
 13  reproduction_rate                           648 non-null    float64
 14  total_tests                                 203 non-null    float64
 15  new_tests                                   34 non-null     float64
 16  total_tests_per_thousand                    203 non-null    float64
 17  new_tests_per_thousand                      34 non-null     float64
 18  new_tests_smoothed                          710 non-null    float64
 19  new_tests_smoothed_per_thousand             710 non-null    float64
 20  positive_rate                               695 non-null    float64
 21  tests_per_case                              663 non-null    float64
 22  tests_units                                 717 non-null    object
 23  total_vaccinations                          54 non-null     float64
 24  people_vaccinated                           56 non-null     float64
 25  people_fully_vaccinated                     38 non-null     float64
 26  new_vaccinations_smoothed                   361 non-null    float64
 27  total_vaccinations_per_hundred              54 non-null     float64
 28  people_vaccinated_per_hundred               56 non-null     float64
 29  people_fully_vaccinated_per_hundred         38 non-null     float64
 30  total_boosters_per_hundred                  6 non-null      float64
 31  new_vaccinations_smoothed_per_million       361 non-null    float64
 32  new_people_vaccinated_smoothed              361 non-null    float64
 33  new_people_vaccinated_smoothed_per_hundred  361 non-null    float64
 34  stringency_index                            736 non-null    float64
 35  population                                  747 non-null    float64
 36  population_density                          747 non-null    float64
 37  median_age                                  747 non-null    float64
 38  aged_65_older                               747 non-null    float64
 39  gdp_per_capita                              747 non-null    float64
 40  cardiovasc_death_rate                       747 non-null    float64
 41  diabetes_prevalence                         747 non-null    float64
 42  female_smokers                              747 non-null    float64
 43  male_smokers                                747 non-null    float64
 44  hospital_beds_per_thousand                  747 non-null    float64
 45  life_expectancy                             747 non-null    float64
 46  human_development_index                     747 non-null    float64
dtypes: float64(45), object(2)
memory usage: 280.1+ KB

In [37]:
data['date'].isnull()

21749    False
21750    False
21751    False
21752    False
21753    False
         ...
22491    False
22492    False
22493    False
22494    False
22495    False
Name: date, Length: 747, dtype: bool